<!--/*
모든 페이지의 기본 레이아웃이 되는 템플릿.
새로 페이지를 만든다면 이 템플릿을 사용하면 된다.
페이지의 제목과 컨텐츠는 이 템플릿의 파라미터로 넘기면 된다

사용자의 로그인 여부에 따라 네비바의 내용이 바뀐다.
만약 로그인된 사용자라면 세번째 파라미터인 username 으로 사용자의 이름을 넘겨주면 된다
비로그인 사용자라면 null을 넘기면 된다

자바스크립트는 body태그의 아래에 추가하면 된다.
*/-->

<!DOCTYPE html>
<html lang="kr" th:fragment="layout (title, content, username, scripts, searchInput)"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="/template/fragment/base-head :: base_head(${title})">
</head>

<body>
<div th:replace="/template/fragment/navibar :: navibar(${username}, ${searchInput})"></div>
<div class="container-fluid">
    <div class="row">
        <div th:replace="/template/fragment/sidebar/sidebar :: sidebar"></div>
        <div class="col-md-9 col-lg-10 content" style="min-height: 80vh;">
            <div th:replace="${content}"></div>
        </div>
    </div>
</div>
<div th:replace="/template/fragment/footer/footer :: footer"></div>

</body>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script type="module" th:src="@{/js/lib/apiHelper.js}"></script>
<script type="module" th:src="@{/js/lib/answer.js}"></script>
<script type="module" th:src="@{/js/lib/comment.js}"></script>
<script type="module" th:src="@{/js/lib/vote.js}"></script>
<script type="module" th:src="@{/js/lib/tag.js}"></script>
<script type="module" th:src="@{/js/lib/main.js}"></script>
<!--/*스프링 프로퍼티에 등록된 API 서버의 주소를 JS 모듈에서 사용할 수 있도록 넣어주는 부분*/-->
<script th:inline="javascript">
    const serverAddress = [[${@environment.getProperty('qnaoverflow.api.url')}]];
</script>
<!--/*페이지에서 별도로 추가하는 스크립트를 등록하기 위한 부분)*/-->
<script th:replace="${scripts}?:_"></script>
</html>
