<!--/*
태그목록조회의 뷰(TagController.list)
dto.tag.list 패키지의 TagListDTO를 모델로 받아서 랜더링한다
*/-->
<!DOCTYPE html>
<html lang="kr" th:replace="~{/template/layout-main :: layout (~{::title}, ~{::section}, ${username}, ~{::script})}"
      xmlns:th="http://www.thymeleaf.org">

<title th:text="#{ui.main.title}">제목</title>

<section>
    <div class="clearfix">
        <h2 class="float-start" th:text="#{ui.tag.list.page-title}">태그 목록</h2>
        <a class="btn btn-primary float-end" th:href="@{/tags/form}">태그 생성하기</a>
    </div>
    <div>
        <p>태그는 질문을 다른 유사한 질문과 함께 분류하는 키워드입니다.
            올바른 태그를 사용하면 다른 사용자가 사용자의 질문에 더 쉽게 답할 수 있습니다.</p>
    </div>
    <hr/>
    <div class="tag-list-wrapper d-flex flex-wrap">
        <div class="card me-3 mb-3" style="width: 18rem;" th:each="tag : ${tagListDTO.tags}">
            <div class="card-body">
                <h5 class="card-title" th:text="${tag.tagName}">Card title</h5>

                <h6 class="card-subtitle text-muted" th:text="${tag.authorName}">작성자</h6>

                <p class="card-text" th:text="${tag.tagDescription}">Some quick example text to build on the card title
                    and make up the bulk of the
                    card's content.</p>
                <a class="card-link" th:href="@{/tags/{tagId}/edit-form(tagId=${tag.tagId})}">태그 수정하기</a>
                <form class="d-inline-block card-link" method="post"
                      th:action="@{/tags/{tagId}/delete(tagId=${tag.tagId})}">
                    <button class="button-like-link">태그 삭제하기</button>
                </form>
            </div>
        </div>
    </div>
</section>

</html>
