<!--/*
사이드바의 버튼을 위한 프래그먼트.
질문게시판 페이지에 대한 링크버튼이라고 생각하면 된다.
*/-->
<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">

<body>
<div class="container-fluid px-0" th:fragment="footer">
    <footer class="py-5 bg-dark">
        <ul class="nav justify-content-center pb-3 mb-2">
            <li class="nav-item "><a th:href="@{/}" class="nav-link px-2 text-light">Home</a></li>
            <li class="nav-item "><a href="#" class="nav-link px-2 text-light">questions</a></li>
            <li class="nav-item "><a href="#" class="nav-link px-2 text-light">users</a></li>
            <li class="nav-item "><a href="#" class="nav-link px-2 text-light">tags</a></li>
        </ul>
        <div class="border-bottom w-75 mx-auto opacity-50 mb-3"></div>
        <p class="text-center text-light">@QnaOverflow</p>
    </footer>
</div>

</body>

</html>
