<!--/*
페이지의 맨 위에 붙는 네비바
기능
- 비로그인 유저를 위한 로그인 기능
- 로그인 유저를 위한 마이페이지, 로그아웃, 탈퇴 기능
*/-->
<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">

<body>

<div class="question-list-item border-1 border-bottom" th:fragment="sidebar_item">
    <div class="left-side">
        <div class="left-button">
            <div class="up">3</div>
            <div>votes</div>
        </div>

        <div class="left-button">
            <div class="up">6</div>
            <div>answers</div>
        </div>

        <div class="left-button">
            <div class="up">300</div>
            <div>views</div>
        </div>
    </div>
    <div class="right-side">
        <a href="#" class="btn"><h3>How can i use map label in angular?</h3></a>
        <div class="tag-wrapper">
            <a class="btn btn-secondary" href="#" role="button">Angular</a>
            <a class="btn btn-secondary" href="#" role="button">Web</a>
            <a class="btn btn-secondary" href="#" role="button">Something</a>
            <div class="space"></div>
            <div class="date">2021-12:22 18:01:23</div>
        </div>
    </div>
</div>

</body>

</html>
