<!--/*
질문게시판의 질문 아이템
질문에 대해 요약한 정보만 가지고 있다
누르면 질문 상세페이지로 이동한다
*/-->
<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">

<body>

<!--/*@thymesVar id="question" type="scra.qnaboard.web.dto.QuestionSummaryDTO"*/-->
<div class="question-list-item border-1 border-bottom"
     th:fragment="question_item_summary(question)">
    <div class="left-side">
        <div class="left-button">
            <div class="up" th:text="${question.voteScore}">3</div>
            <div>votes</div>
        </div>

        <div class="left-button">
            <div class="up" th:text="${question.answerCount}">6</div>
            <div>answers</div>
        </div>

        <div class="left-button">
            <div class="up" th:text="${question.viewCount}">300</div>
            <div>views</div>
        </div>
    </div>
    <div class="right-side">
        <a th:href="@{/questions/{questionId}(questionId=${question.questionId})}"><h3 th:text="${question.title}">
            title</h3></a>
        <div class="tag-wrapper">
            <a class="btn btn-secondary btn-sm" href="#" role="button">Angular</a>
            <a class="btn btn-secondary btn-sm" href="#" role="button">Web</a>
        </div>
        <div class="createBy">
            <div th:text="${question.createDate}">2021-12:22 18:01:23</div>
            <div th:text="${question.authorName}">edward nygma</div>
        </div>
    </div>
</div>

</body>

</html>
