<!--/*
페이지의 좌측에 붙는 사이드바 프래그먼트
사이드바를 통해 질문게시판의 여러 페이지를 방문할 수 있다.
질문목록, 태그목록, 사용자목록등을 조회할 수 있다.
*/-->
<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">

<body>

<div class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse" id="sidebar"
     th:fragment="sidebar">
    <ul class="nav nav-pills flex-column mb-auto">

        <li th:replace="template/fragment/sidebar/sidebar-item ::
                sidebar_item(#{ui.sidebar.questions}, '/questions')"></li>

        <li th:replace="template/fragment/sidebar/sidebar-item ::
                sidebar_item(#{ui.sidebar.tags}, '/tags')"></li>

        <li th:replace="template/fragment/sidebar/sidebar-item ::
                sidebar_item(#{ui.sidebar.users}, '/members')"></li>

    </ul>
</div>

</body>

</html>
