<!--/*
태그 목록
*/-->
<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">

<body>

<div class="card me-md-3 mb-3 tag-card" th:fragment="tag_component(tag)">
    <div class="card-body">
        <h5 class="card-title">
            <a th:href="@{/questions(searchInput='[' + ${tag.tagName} + ']')}" th:text="${tag.tagName}">Card title</a>
        </h5>

        <h6 class="card-subtitle text-muted" th:text="${tag.authorName}">작성자</h6>

        <p class="card-text" th:text="${tag.tagDescription}">Some quick example text to build on the card title
            and make up the bulk of the
            card's content.</p>
        <a class="card-link" th:href="@{/tags/{tagId}/edit-form(tagId=${tag.tagId})}">태그 수정하기</a>
        <form class="d-inline-block card-link" method="post"
              th:action="@{/tags/{tagId}/delete(tagId=${tag.tagId})}">
            <button class="button-like-link">태그 삭제하기</button>
        </form>
    </div>
</div>

</body>

</html>
