<!--/*
질문게시판 페이지
*/-->
<!DOCTYPE html>
<html lang="kr" th:replace="~{/template/layout-main :: layout (~{::title}, ~{::section}, ${username})}"
      xmlns:th="http://www.thymeleaf.org">

<title th:text="#{ui.global.title}">제목</title>

<section style="min-height: 1440px;">
    <h2>질문 목록</h2>
    <hr/>
    <div th:each="question : ${dto.questions}"
         th:insert="template/fragment/question/question-item-summary ::
            question_item_summary(${question})">
    </div>
</section>

</html>
