<!--/*
질문목록조회의 뷰(QuestionController.list)
*/-->
<!DOCTYPE html>
<html lang="kr"
      th:replace="~{template/layout-main :: layout (~{::title}, ~{::section}, ${username}, ~{::script}, ${paging.searchInput})}"
      xmlns:th="http://www.thymeleaf.org">

<title th:text="#{ui.main.title}">제목</title>

<section>
    <div class="clearfix">
        <h2 class="float-start" th:text="#{ui.question.list.page-title}">질문 목록</h2>
        <h2 class="float-start" th:text="': ' +${paging.recordCount} + #{ui.question.list.page-quantity}">: 10000개</h2>
        <a class="btn btn-primary float-end" th:href="@{/questions/form}">질문하기</a>
    </div>
    <hr/>
    <div th:each="question : ${paging.content}"
         th:insert="template/fragment/question/question-item-summary ::
            question_item_summary(${question})">
    </div>
    <div th:replace="template/fragment/pagination/pagination :: pagination(${paging}, 'questions')"></div>
</section>

</html>
