<!--/*
질문목록조회의 뷰(QuestionController.detail)
dto.question.detail 패키지의 QuestionDetailDTO를 모델로 받아서 랜더링한다
*/-->
<!DOCTYPE html>
<html lang="kr" th:replace="~{/template/layout-main :: layout (~{::title}, ~{::section}, ${username}, ~{::script})}"
      xmlns:th="http://www.thymeleaf.org">

<title th:text="#{ui.main.title}">제목</title>

<section class="content-root" th:attr="data-questionid=${question.questionId}">
    <!--/*질문 컨테이너 헤더*/-->
    <h2 th:text="${question.title}">❓질문 제목인데 이걸 어떻게 고치면 좋을까요?</h2>
    <hr/>

    <!--/*질문 컨테이너 바디/-->
    <div class="container-fluid ps-0 pe-0">
        <!--/*질문 본문*/-->
        <div th:replace="template/fragment/question/question-item-detail :: question_item_detail(${question})"></div>

        <!--/*질문 답변 경계선*/-->
        <!--/*답글 개수*/-->
        <h3>답글 : <span id="answer-count" th:text="${question.answers.size()}">3</span></h3>
        <hr class="opacity-100"/>

        <!--/*답변 게시글 컨테이너*/-->
        <div class="row">
            <!--답변게시글 목록-->
            <div class="answer-wrapper" id="answer-wrapper">
                <div th:each="answer : ${question.answers}"
                     th:insert="template/fragment/answer/answer-item-detail
                     :: answer_item_detail(${question.questionId}, ${answer})">
                </div>
            </div>
        </div>

        <!--/*답변 컨테이너 종료 후 답변 작성하기 컨테이너*/-->
        <div th:replace="template/fragment/answer/answer-writer :: answer_writer(${question.questionId})"></div>
    </div>
</section>

<script th:src="@{/js/pages/question-detail.js}"></script>

</html>
