<!--/*
생성, 수정, 삭제등의 결과를 알려주는 페이지
*/-->
<!DOCTYPE html>
<html lang="kr" th:replace="~{/template/layout-main :: layout (~{::title}, ~{::section}, ${username}, ~{script})}"
      xmlns:th="http://www.thymeleaf.org">

<title th:text="#{ui.main.title}">제목</title>

<section>
    <div class="clearfix">
        <h2 class="float-start" th:text="#{ui.notify.page-title}">알림</h2>
    </div>
    <hr/>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title" th:text="${notify.title}">Card title</h5>
            <p class="card-text" th:text="${notify.content}">내용</p>
            <a class="card-link" th:href="@{/questions}">질문 목록으로 돌아가기</a>
        </div>
    </div>

</section>

</html>
