spring:
  datasource:
    url: jdbc:h2:tcp://localhost/~/qnaboard
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    properties:
      hibernate:
        format_sql: true
