<!--/*
회원목록조회의 뷰
*/-->
<!DOCTYPE html>
<html lang="kr" th:replace="~{/template/layout-main :: layout (~{::title}, ~{::section}, ${username}, ~{::script}, '')}"
      xmlns:th="http://www.thymeleaf.org">

<title th:text="#{ui.main.title}">제목</title>

<section>
    <h2 th:text="#{ui.member.list.page-title}">회원 목록</h2>
    <div>
        <p th:text="#{ui.member.list.page-description}">페이지 소개</p>
    </div>
    <hr/>
    <div class="tag-list-wrapper d-flex flex-wrap">
        <!--/*회원 카드*/-->
        <div style="display: contents;" th:each="member : ${paging.content}">
            <div th:replace="/template/fragment/member/member-component :: member_component(${member})"></div>
        </div>
    </div>
    <div th:replace="/template/fragment/pagination/pagination :: pagination(${paging}, 'members')"></div>
</section>

</html>
