<!--/*
게시글 컨트롤러
이걸로 게시글 수정, 삭제 요청을 할 수 있다
언제 수정되었고 생성되었는지도 출력한다
*/-->
<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">

<body>

<!--/*게시글 컨트롤러(수정, 삭제 작성자, 작성일, 수정일)*/-->
<div class="container-fluid pt-5 pb-4 ps-0 pe-0"
     th:fragment="post_controller(username, createDate, modifyDate, postId, editComponent, deleteComponent)">
    <div class="row">
        <div class="float-start">
            <div th:replace="${editComponent}"></div>
            <div th:replace="${deleteComponent}"></div>
        </div>
        <div class="float-end text-end pe-4">
            <div>작성자 : <span th:text="${username}">Edward Nygma</span></div>
            <div>작성일 : <span th:text="${#temporals.format(createDate, 'yyyy-MM-dd hh:mm a')}">2021-12-12 12:12 PM</span>
            </div>
            <div>수정일 : <span th:text="${#temporals.format(modifyDate, 'yyyy-MM-dd hh:mm a')}">2021-12-12 12:12 PM</span>
            </div>
        </div>
    </div>
</div>

</body>

</html>
