<!--/*
대댓글
*/-->
<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">

<body>

<div class="comment card mb-3" th:fragment="comment">
    <div class="card-header">
        <div class="d-inline-block">Edward Nygma</div>
        <div class="float-end">
            <span>2021-12-12 12:12PM</span>
            <a href="#" class="text-decoration-none text-black hover-underline">수정</a>
            <a href="#" class="text-decoration-none text-black hover-underline">삭제</a>
        </div>
    </div>
    <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk
            of the card's content.</p>
    </div>
</div>

</body>

</html>
