<!--/*
대댓글 목록
*/-->
<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">

<body>

<div class="comment-wrapper" th:fragment="comment_wrapper">
    <div th:replace="template/fragment/comment/comment :: comment"></div>
    <div th:replace="template/fragment/comment/comment :: comment"></div>
    <div th:replace="template/fragment/comment/comment :: comment"></div>
    <div th:replace="template/fragment/comment/comment :: comment"></div>
    <div th:replace="template/fragment/comment/comment :: comment"></div>
    <div th:replace="template/fragment/comment/comment :: comment"></div>
</div>

</body>

</html>
